.vs/NCLibrary/DesignTimeBuild/.dtbcache.v2
.vs/NCLibrary/v16/.suo
ConsoleTest/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.deps.json
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.dll
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.exe
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.pdb
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.runtimeconfig.dev.json
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.runtimeconfig.json
ConsoleTest/bin/Debug/netcoreapp3.1/Dapper.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ConsoleTest/bin/Debug/netcoreapp3.1/MySql.Data.dll
ConsoleTest/bin/Debug/netcoreapp3.1/NCCommon.dll
ConsoleTest/bin/Debug/netcoreapp3.1/NCCommon.pdb
ConsoleTest/bin/Debug/netcoreapp3.1/NCORM.dll
ConsoleTest/bin/Debug/netcoreapp3.1/NCORM.pdb
ConsoleTest/bin/Debug/netcoreapp3.1/Renci.SshNet.dll
ConsoleTest/bin/Debug/netcoreapp3.1/SshNet.Security.Cryptography.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Ubiety.Dns.Core.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Error/20200505.txt
ConsoleTest/bin/Debug/netcoreapp3.1/Error/20200506.txt
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
ConsoleTest/obj/ConsoleTest.csproj.nuget.dgspec.json
ConsoleTest/obj/ConsoleTest.csproj.nuget.g.props
ConsoleTest/obj/ConsoleTest.csproj.nuget.g.targets
ConsoleTest/obj/project.assets.json
ConsoleTest/obj/project.nuget.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.AssemblyInfo.cs
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.AssemblyInfoInputs.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.assets.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csproj.CopyComplete
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csproj.CoreCompileInputs.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csproj.FileListAbsolute.txt
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csprojAssemblyReference.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.dll
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.exe
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.genruntimeconfig.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.pdb
DataLayer/NCORM/.vs/NCORM/DesignTimeBuild/.dtbcache.v2
DataLayer/NCORM/.vs/NCORM/v16/.suo
DataLayer/NCORM/bin/Debug/NCORM.1.0.0.nupkg
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCCommon.dll
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCCommon.pdb
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.deps.json
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.dll
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.pdb
DataLayer/NCORM/obj/NCORM.csproj.nuget.dgspec.json
DataLayer/NCORM/obj/NCORM.csproj.nuget.g.props
DataLayer/NCORM/obj/NCORM.csproj.nuget.g.targets
DataLayer/NCORM/obj/project.assets.json
DataLayer/NCORM/obj/project.nuget.cache
DataLayer/NCORM/obj/Debug/NCORM.1.0.0.nuspec
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.AssemblyInfo.cs
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.AssemblyInfoInputs.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.assets.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csproj.CopyComplete
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csproj.CoreCompileInputs.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csproj.FileListAbsolute.txt
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csprojAssemblyReference.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.dll
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.pdb
NCCommonLibrary/.vs/NCLibrary/v16/.suo
NCCommonLibrary/bin/Debug/NCCommon.1.0.1.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.2.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.3.nupkg
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.deps.json
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.dll
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.pdb
NCCommonLibrary/obj/NCCommon.csproj.nuget.dgspec.json
NCCommonLibrary/obj/NCCommon.csproj.nuget.g.props
NCCommonLibrary/obj/NCCommon.csproj.nuget.g.targets
NCCommonLibrary/obj/NCCommonLibrary.csproj.nuget.dgspec.json
NCCommonLibrary/obj/NCCommonLibrary.csproj.nuget.g.props
NCCommonLibrary/obj/NCCommonLibrary.csproj.nuget.g.targets
NCCommonLibrary/obj/project.assets.json
NCCommonLibrary/obj/project.nuget.cache
NCCommonLibrary/obj/Debug/NCCommon.1.0.0.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.1.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.2.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.3.nuspec
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.AssemblyInfo.cs
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.AssemblyInfoInputs.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.assets.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.csproj.CoreCompileInputs.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.csproj.FileListAbsolute.txt
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.csprojAssemblyReference.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.dll
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.pdb
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.AssemblyInfo.cs
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.AssemblyInfoInputs.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.assets.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.csprojAssemblyReference.cache
