.vs/NCLibrary/DesignTimeBuild/.dtbcache.v2
.vs/NCLibrary/v16/.suo
ConsoleTest/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.deps.json
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.dll
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.exe
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.pdb
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.runtimeconfig.dev.json
ConsoleTest/bin/Debug/netcoreapp3.1/ConsoleTest.runtimeconfig.json
ConsoleTest/bin/Debug/netcoreapp3.1/Dapper.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ConsoleTest/bin/Debug/netcoreapp3.1/MySql.Data.dll
ConsoleTest/bin/Debug/netcoreapp3.1/NCCommon.dll
ConsoleTest/bin/Debug/netcoreapp3.1/NCCommon.pdb
ConsoleTest/bin/Debug/netcoreapp3.1/NCORM.dll
ConsoleTest/bin/Debug/netcoreapp3.1/NCORM.pdb
ConsoleTest/bin/Debug/netcoreapp3.1/Renci.SshNet.dll
ConsoleTest/bin/Debug/netcoreapp3.1/SshNet.Security.Cryptography.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ConsoleTest/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Ubiety.Dns.Core.dll
ConsoleTest/bin/Debug/netcoreapp3.1/Error/20200505.txt
ConsoleTest/bin/Debug/netcoreapp3.1/Error/20200506.txt
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
ConsoleTest/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
ConsoleTest/obj/ConsoleTest.csproj.nuget.dgspec.json
ConsoleTest/obj/ConsoleTest.csproj.nuget.g.props
ConsoleTest/obj/ConsoleTest.csproj.nuget.g.targets
ConsoleTest/obj/project.assets.json
ConsoleTest/obj/project.nuget.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.AssemblyInfo.cs
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.AssemblyInfoInputs.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.assets.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csproj.CopyComplete
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csproj.CoreCompileInputs.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csproj.FileListAbsolute.txt
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.csprojAssemblyReference.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.dll
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.exe
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.genruntimeconfig.cache
ConsoleTest/obj/Debug/netcoreapp3.1/ConsoleTest.pdb
DataLayer/NCORM/.vs/NCORM/DesignTimeBuild/.dtbcache.v2
DataLayer/NCORM/.vs/NCORM/v16/.suo
DataLayer/NCORM/bin/Debug/NCORM.1.0.0.nupkg
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCCommon.dll
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCCommon.pdb
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.deps.json
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.dll
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.pdb
DataLayer/NCORM/obj/NCORM.csproj.nuget.dgspec.json
DataLayer/NCORM/obj/NCORM.csproj.nuget.g.props
DataLayer/NCORM/obj/NCORM.csproj.nuget.g.targets
DataLayer/NCORM/obj/project.assets.json
DataLayer/NCORM/obj/project.nuget.cache
DataLayer/NCORM/obj/Debug/NCORM.1.0.0.nuspec
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.AssemblyInfo.cs
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.AssemblyInfoInputs.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.assets.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csproj.CopyComplete
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csproj.CoreCompileInputs.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csproj.FileListAbsolute.txt
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.csprojAssemblyReference.cache
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.dll
DataLayer/NCORM/obj/Debug/netcoreapp3.1/NCORM.pdb
NCCommonLibrary/.vs/NCLibrary/v16/.suo
NCCommonLibrary/bin/Debug/NCCommon.1.0.1.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.2.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.3.nupkg
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.deps.json
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.dll
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.pdb
NCCommonLibrary/obj/NCCommon.csproj.nuget.dgspec.json
NCCommonLibrary/obj/NCCommon.csproj.nuget.g.props
NCCommonLibrary/obj/NCCommon.csproj.nuget.g.targets
NCCommonLibrary/obj/NCCommonLibrary.csproj.nuget.dgspec.json
NCCommonLibrary/obj/NCCommonLibrary.csproj.nuget.g.props
NCCommonLibrary/obj/NCCommonLibrary.csproj.nuget.g.targets
NCCommonLibrary/obj/project.assets.json
NCCommonLibrary/obj/project.nuget.cache
NCCommonLibrary/obj/Debug/NCCommon.1.0.0.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.1.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.2.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.3.nuspec
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.AssemblyInfo.cs
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.AssemblyInfoInputs.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.assets.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.csproj.CoreCompileInputs.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.csproj.FileListAbsolute.txt
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.csprojAssemblyReference.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.dll
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommon.pdb
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.AssemblyInfo.cs
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.AssemblyInfoInputs.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.assets.cache
NCCommonLibrary/obj/Debug/netcoreapp3.1/NCCommonLibrary.csprojAssemblyReference.cache
ConsoleTest/bin/Debug/netcoreapp3.1/NCCommon.xml
ConsoleTest/bin/Debug/netcoreapp3.1/NCORMError/20200728.txt
ConsoleTest/bin/Debug/netcoreapp3.1/NCORMError/20200730.txt
ConsoleTest/bin/Debug/netcoreapp3.1/NCORMError/20200731.txt
ConsoleTest/bin/Debug/netcoreapp3.1/NCORMError/20200803.txt
ConsoleTest/bin/Debug/netcoreapp3.1/NCORMError/20200806.txt
ConsoleTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DataLayer/NCORM/bin/NCORM.xml
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.1.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.2.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.3.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.4.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.5.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.6.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.7.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.8.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.9.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.5.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.1.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.2.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.3.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.4.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.5.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.6.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.7.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.8.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.9.nupkg
DataLayer/NCORM/bin/Debug/NCORM.1.1.6.nupkg
DataLayer/NCORM/bin/Debug/NCORM.xml
DataLayer/NCORM/bin/Debug/netcoreapp3.1/NCORM.xml
DataLayer/NCORM/Model/Org_Menu.cs.bak
DataLayer/NCORM/Model/Program.cs.bak
DataLayer/NCORM/Model/Program_AvaliableAction.cs.bak
DataLayer/NCORM/obj/Debug/NCORM.1.0.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.0.6.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.0.7.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.0.8.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.0.9.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.0.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.1.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.1.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.2.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.3.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.4.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.6.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.7.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.8.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.9.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.2.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.1.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.2.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.3.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.4.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.6.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.7.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.8.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.9.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.3.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.1.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.2.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.3.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.4.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.6.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.7.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.8.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.9.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.4.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.1.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.2.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.3.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.4.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.6.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.7.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.8.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.9.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.1.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.2.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.3.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.4.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.5.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.6.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.7.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.8.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.9.nuspec
DataLayer/NCORM/obj/Debug/NCORM.1.1.6.nuspec
DataLayer/NCORM/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DataLayer/NCORM/obj/Debug/netcoreapp3.1/aa11fcf6-dd24-42fc-87a7-2ac7e858008e_NCORM.pdb
DataLayer/NCORM/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
DataLayer/NCORM/obj/Debug/netstandard2.1/NCORM.AssemblyInfo.cs
DataLayer/NCORM/obj/Debug/netstandard2.1/NCORM.AssemblyInfoInputs.cache
DataLayer/NCORM/obj/Debug/netstandard2.1/NCORM.assets.cache
DataLayer/NCORM/obj/Debug/netstandard2.1/NCORM.csproj.CoreCompileInputs.cache
DataLayer/NCORM/obj/Debug/netstandard2.1/NCORM.csproj.FileListAbsolute.txt
JWTMiddleware/bin/Debug/JWTMiddleware.1.0.0.1.nupkg
JWTMiddleware/bin/Debug/JWTMiddleware.1.0.0.2.nupkg
JWTMiddleware/bin/Debug/JWTMiddleware.1.0.0.3.nupkg
JWTMiddleware/bin/Debug/JWTMiddleware.1.0.0.nupkg
JWTMiddleware/bin/Debug/netcoreapp3.1/JWTMiddleware.deps.json
JWTMiddleware/bin/Debug/netcoreapp3.1/JWTMiddleware.dll
JWTMiddleware/bin/Debug/netcoreapp3.1/JWTMiddleware.pdb
JWTMiddleware/obj/JWTMiddleware.csproj.nuget.dgspec.json
JWTMiddleware/obj/JWTMiddleware.csproj.nuget.g.props
JWTMiddleware/obj/JWTMiddleware.csproj.nuget.g.targets
JWTMiddleware/obj/project.assets.json
JWTMiddleware/obj/project.nuget.cache
JWTMiddleware/obj/Debug/JWTMiddleware.1.0.0.1.nuspec
JWTMiddleware/obj/Debug/JWTMiddleware.1.0.0.2.nuspec
JWTMiddleware/obj/Debug/JWTMiddleware.1.0.0.3.nuspec
JWTMiddleware/obj/Debug/JWTMiddleware.1.0.0.nuspec
JWTMiddleware/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.AssemblyInfo.cs
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.AssemblyInfoInputs.cache
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.assets.cache
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.csproj.CoreCompileInputs.cache
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.csproj.FileListAbsolute.txt
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.csprojAssemblyReference.cache
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.dll
JWTMiddleware/obj/Debug/netcoreapp3.1/JWTMiddleware.pdb
JWTMiddleware/obj/Debug/netcoreapp3.1/TempPE/Properties.Resources.Designer.cs.dll
NCCommonLibrary/bin/Debug/NCCommon.1.0.4.1.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.4.2.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.4.3.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.4.4.nupkg
NCCommonLibrary/bin/Debug/NCCommon.1.0.4.nupkg
NCCommonLibrary/bin/Debug/NCCommon.xml
NCCommonLibrary/bin/Debug/netcoreapp3.1/NCCommon.xml
NCCommonLibrary/obj/Debug/NCCommon.1.0.4.1.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.4.2.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.4.3.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.4.4.nuspec
NCCommonLibrary/obj/Debug/NCCommon.1.0.4.nuspec
NCCommonLibrary/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConsoleTest/obj/Debug/netcoreapp3.1/apphost.exe
DataLayer/Model_合併NCERP前/AccountingItem.cs
DataLayer/Model_合併NCERP前/AccountingTerm.cs
DataLayer/Model_合併NCERP前/Amenity.cs
DataLayer/Model_合併NCERP前/Amenity_File.cs
DataLayer/Model_合併NCERP前/Amenity_OpenDate.cs
DataLayer/Model_合併NCERP前/Amenity_OpenPeriod.cs
DataLayer/Model_合併NCERP前/Amenity_PointTerm.cs
DataLayer/Model_合併NCERP前/Amenity_TimePhase.cs
DataLayer/Model_合併NCERP前/Amenity_TimePhase_PointTerm.cs
DataLayer/Model_合併NCERP前/Announce.cs
DataLayer/Model_合併NCERP前/Announce_Org.cs
DataLayer/Model_合併NCERP前/BankAccount.cs
DataLayer/Model_合併NCERP前/BankFeedBack.cs
DataLayer/Model_合併NCERP前/BankInfo.cs
DataLayer/Model_合併NCERP前/BatchPoint.cs
DataLayer/Model_合併NCERP前/BatchPoint_House.cs
DataLayer/Model_合併NCERP前/BookingRecord.cs
DataLayer/Model_合併NCERP前/BookingUse.cs
DataLayer/Model_合併NCERP前/BookingUse_TimePhase.cs
DataLayer/Model_合併NCERP前/Building.cs
DataLayer/Model_合併NCERP前/Card.cs
DataLayer/Model_合併NCERP前/ChargeItem.cs
DataLayer/Model_合併NCERP前/ChargeSetting.cs
DataLayer/Model_合併NCERP前/ChargeSetting_List.cs
DataLayer/Model_合併NCERP前/CheckSetting.cs
DataLayer/Model_合併NCERP前/CheckSetting_Item.cs
DataLayer/Model_合併NCERP前/Client.cs
DataLayer/Model_合併NCERP前/ClientLegal.cs
DataLayer/Model_合併NCERP前/ClientNatural.cs
DataLayer/Model_合併NCERP前/CollectBankAccount.cs
DataLayer/Model_合併NCERP前/CollectFeeSetting.cs
DataLayer/Model_合併NCERP前/Company.cs
DataLayer/Model_合併NCERP前/Company_OwnerAssociation.cs
DataLayer/Model_合併NCERP前/CompanyData.cs
DataLayer/Model_合併NCERP前/Coupon.cs
DataLayer/Model_合併NCERP前/CouponSetting.cs
DataLayer/Model_合併NCERP前/CouponSetting_ChargeItem.cs
DataLayer/Model_合併NCERP前/CouponSetting_Client.cs
DataLayer/Model_合併NCERP前/DBInfo.cs
DataLayer/Model_合併NCERP前/Ex.cs
DataLayer/Model_合併NCERP前/Ex_Advanced.cs
DataLayer/Model_合併NCERP前/Ex_SalesChargeItem.cs
DataLayer/Model_合併NCERP前/File.cs
DataLayer/Model_合併NCERP前/File_UploadMap.cs
DataLayer/Model_合併NCERP前/FixedPaymentNo.cs
DataLayer/Model_合併NCERP前/Goods.cs
DataLayer/Model_合併NCERP前/Group.cs
DataLayer/Model_合併NCERP前/HistoryLog.cs
DataLayer/Model_合併NCERP前/House.cs
DataLayer/Model_合併NCERP前/House_Client.cs
DataLayer/Model_合併NCERP前/House_Property.cs
DataLayer/Model_合併NCERP前/HouseArea.cs
DataLayer/Model_合併NCERP前/HouseSegment.cs
DataLayer/Model_合併NCERP前/Inventory.cs
DataLayer/Model_合併NCERP前/Meeting.cs
DataLayer/Model_合併NCERP前/Meeting_Attendance.cs
DataLayer/Model_合併NCERP前/Meeting_Issue.cs
DataLayer/Model_合併NCERP前/Opinion.cs
DataLayer/Model_合併NCERP前/Opinion_Respond.cs
DataLayer/Model_合併NCERP前/Org.cs
DataLayer/Model_合併NCERP前/Org_Menu.cs
DataLayer/Model_合併NCERP前/Org_Program.cs
DataLayer/Model_合併NCERP前/OrgRankMap.cs
DataLayer/Model_合併NCERP前/Parameter.cs
DataLayer/Model_合併NCERP前/Parameter_Role.cs
DataLayer/Model_合併NCERP前/ParkingSpace.cs
DataLayer/Model_合併NCERP前/ParkingSpace_Using.cs
DataLayer/Model_合併NCERP前/PaymentNoRecord.cs
DataLayer/Model_合併NCERP前/PaymentRecord.cs
DataLayer/Model_合併NCERP前/PaymentRecord_Advanced.cs
DataLayer/Model_合併NCERP前/PaymentRecord_Check.cs
DataLayer/Model_合併NCERP前/PaymentRecord_Money.cs
DataLayer/Model_合併NCERP前/PaymentRecordCollect.cs
DataLayer/Model_合併NCERP前/PaymentSlip.cs
DataLayer/Model_合併NCERP前/PaymentSlip_Advanced.cs
DataLayer/Model_合併NCERP前/PaymentSlip_Advanced_CouponSetting.cs
DataLayer/Model_合併NCERP前/PaymentSlip_Sales_ChargeItem.cs
DataLayer/Model_合併NCERP前/Phrase.cs
DataLayer/Model_合併NCERP前/PointPurchase.cs
DataLayer/Model_合併NCERP前/PointRecord.cs
DataLayer/Model_合併NCERP前/PointRecord_Track.cs
DataLayer/Model_合併NCERP前/PointTermSetting.cs
DataLayer/Model_合併NCERP前/PointTermSetting_Exchange.cs
DataLayer/Model_合併NCERP前/Post.cs
DataLayer/Model_合併NCERP前/Post_Track.cs
DataLayer/Model_合併NCERP前/Program.cs
DataLayer/Model_合併NCERP前/Program_AvaliableAction.cs
DataLayer/Model_合併NCERP前/ReadHistory.cs
DataLayer/Model_合併NCERP前/Region.cs
DataLayer/Model_合併NCERP前/Regulation.cs
DataLayer/Model_合併NCERP前/Role.cs
DataLayer/Model_合併NCERP前/Role_Authority.cs
DataLayer/Model_合併NCERP前/Sales.cs
DataLayer/Model_合併NCERP前/Sales_ChargeItem.cs
DataLayer/Model_合併NCERP前/Sales_ChargeItem_Track.cs
DataLayer/Model_合併NCERP前/Sales_ChargeItem_Track_Goods.cs
DataLayer/Model_合併NCERP前/Sales_Goods.cs
DataLayer/Model_合併NCERP前/SalesVoid.cs
DataLayer/Model_合併NCERP前/ServerSetting.cs
DataLayer/Model_合併NCERP前/Settlement.cs
DataLayer/Model_合併NCERP前/Settlement_Company.cs
DataLayer/Model_合併NCERP前/Settlement_Company_Rec.cs
DataLayer/Model_合併NCERP前/Supplier.cs
DataLayer/Model_合併NCERP前/SupplierLegal.cs
DataLayer/Model_合併NCERP前/SupplierNatural.cs
DataLayer/Model_合併NCERP前/SysCode.cs
DataLayer/Model_合併NCERP前/TableBase.cs
DataLayer/Model_合併NCERP前/TokenClaim.cs
DataLayer/Model_合併NCERP前/TokenUserInfo.cs
DataLayer/Model_合併NCERP前/TransCode.cs
DataLayer/Model_合併NCERP前/Transfer.cs
DataLayer/Model_合併NCERP前/Transfer_Advanced.cs
DataLayer/Model_合併NCERP前/Transfer_Point.cs
DataLayer/Model_合併NCERP前/Transfer_SalesChargeItem.cs
DataLayer/Model_合併NCERP前/User.cs
DataLayer/Model_合併NCERP前/User_Binding.cs
DataLayer/Model_合併NCERP前/User_Client.cs
DataLayer/Model_合併NCERP前/User_Device.cs
DataLayer/Model_合併NCERP前/User_ExtendedAuthority.cs
DataLayer/Model_合併NCERP前/User_Org.cs
DataLayer/Model_合併NCERP前/User_Role.cs
DataLayer/Model_合併NCERP前/User_Supplier.cs
DataLayer/Model_合併NCERP前/UserData.cs
DataLayer/Model_合併NCERP前/Visit.cs
DataLayer/Model_合併NCERP前/Voucher.cs
DataLayer/Model_合併NCERP前/Voucher_Entry.cs
DataLayer/Model_合併NCERP前/Voucher_EntryData.cs
DataLayer/Model_合併NCERP前/Voucher_EntryOffsetC.cs
DataLayer/Model_合併NCERP前/Voucher_EntryOffsetD.cs
DataLayer/Model_合併NCERP前/Voucher_EntryWriteOffC.cs
DataLayer/Model_合併NCERP前/Voucher_EntryWriteOffD.cs
DataLayer/Model_合併NCERP前/VoucherGroup.cs
DataLayer/Model_合併NCERP前/VoucherGroup_Entry.cs
DataLayer/Model_合併NCERP前/VoucherGroup_Entry_Source.cs
DataLayer/Model_合併NCERP前/VoucherSettle.cs
DataLayer/Model_合併NCERP前/Warehouse.cs
DataLayer/Model_合併NCERP前/WEBIntroduce.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Agency.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Agency_Staff.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Apply.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Apply_Area.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Apply_Member.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Apply_MemberHouse.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Apply_Representative.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Apply_Subsidy.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Assn.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Assn_Chairman.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Building.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Building_Intro.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ObjectTemp.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ObjectTemp_Coowner.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ObjectTemp_Facility.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ObjectTemp_Parking.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ObjectTemp_Representative.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ParamIncomeLimit.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ParamPrjLimit.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Project.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Project_Unit.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Project_Unit_Agency.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Project_Unit_Assn.cs
DataLayer/Model_合併NCERP前/GRM/GRM_ReviewHistory.cs
DataLayer/Model_合併NCERP前/GRM/GRM_Unit.cs
DataLayer/Model_合併NCERP前/WEB/WEB_Company_Intro.cs
